@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spencer's Home Page";
}


<div class="all">
<!--Personal Information-->
<h1 class="name">Spencer Kimball</h1>
<br />
<img src="img/snowboarding.jpg" />
<br />
<p class="center">
    My greatest aspiration for IS 413 is to become more confident in my web development skills. I'm hoping to
    continue to improve my full stack abilities in C#/asp.NET. I'm also very excited to learn more about Javascript
    React. It seems like many employers are looking for developers with experience using react, and I hope
    to learn all that I can about it. I'm eager to see what else I'll learn this semester!
</p>

<br />
<h2 class="center">Jobs I'm interested in after graduation:</h2>
<ul>
    <li>1. Web Developer</li>
    <li>2. Entrepreneur</li>
    <li>3. Data Analyst</li>
</ul>
<br />
</div>

